---
ssh_gauthenticator_pam_script: |
  #!/bin/bash
  # PAM script to setup google authenticator
  trap 'exit 1' SIGINT
  if [ "$PAM_TYPE" != "open_session" ]; then
    exit 0
  fi
  USER=$PAM_USER
  if [ -z "$USER" ]; then
    echo "PAM_USER not set, exiting."
    exit 1
  fi
  HOME=$(eval echo ~$USER)
  if [ ! -d "$HOME" ]; then
    echo "Can't access HOME directory, exiting."
    exit 1
  fi
  if [ -f "$HOME/.google_authenticator" ]; then
    exit 0
  fi
  su - "$USER" -c "/usr/bin/google-authenticator -C -t -D -f -Q ANSI -r 3 -R 30 -w 2"
  # force logout
  exit 1

# configuration for sshd_config
ssh_gauthenticator_sshd_config:
  - key: UsePAM
    val: "yes"
  - key: ChallengeResponseAuthentication
    val: "yes"
  - key: AuthenticationMethods
    val: publickey,keyboard-interactive
  - key: KbdInteractiveAuthentication
    val: "yes"
  - key: PasswordAuthentication
    val: "no"

# sshd config absolute filename
ssh_gauthenticator_sshd_config_path: /etc/ssh/sshd_config

# lineinfile to enable/disable pam/ssh password authentication
ssh_gauthenticator_pam_ssh_password_lif:
  regexp: "^@include common-auth$"
  line: "#@include common-auth"

# pam/ssh absolute filename
ssh_gauthenticator_pam_ssh_path: /etc/pam.d/sshd

# blockinfile for pam.d/ssh
ssh_gauthenticator_pam_ssh_bif: |
  # two-factor authentication via google authenticator.
  # nullok & pam_permit allow users to log in without an
  # OTP (if not already configured) and garun.sh checks
  # and run google authenticator configuration.
  auth required pam_google_authenticator.so nullok
  auth required pam_permit.so
  session required pam_exec.so stdout seteuid /usr/local/bin/gapam.sh

# blockinfile insertafter
ssh_gauthenticator_pam_ssh_bif_after: "^.*@include common-auth"
