---
# Duo Configuration
# duomfa_duo_config:
#   - option: groups
#     value: "!adm,!root,!sysadmin,!wheel,*"
#   - option: host
#     value: Your API hostname i.e. api-XXXXXXXX.duosecurity.com
#   - option: ikey
#     value: Your integration key
#   - option: skey
#     value: Your secret key

# Duo package from Debian/Ubuntu repository
duomfa_package: libpam-duo

# Duo package from Duo repository https://pkg.duosecurity.com/
# duomfa_deb_reposity_key_url: "https://duo.com/DUO-GPG-PUBLIC-KEY.asc"
# duomfa_deb_sources_list: "deb [signed-by=/etc/apt/keyrings/duo.gpg] https://pkg.duosecurity.com/{{ ansible_distribution }} {{ ansible_distribution_release }} main"
# duomfa_package: duo-unix

# Add pam_duo.so to /etc/pam.d/common-auth using lineinfile
duomfa_pam_common_auth:
  - line: "auth    [success=ok default=bad]    {{ (duomfa_package == 'duo-unix') | ternary('/lib64/security/', '') }}pam_duo.so"
    regexp: "^.*pam_duo.so$"
    insertafter: "# and here are more per-package modules .*$"

# Path to pam_duo.conf file
duomfa_pam_duo_conf_path: "{{ (duomfa_package == 'duo-unix') | ternary('/etc/duo/pam_duo.conf', '/etc/security/pam_duo.conf') }}"

# Options for OpenSSH
duomfa_sshd_config:
  - option: AuthenticationMethods
    value: "publickey,keyboard-interactive keyboard-interactive"
  - option: KbdInteractiveAuthentication
    value: "yes"
  - option: PasswordAuthentication
    value: "no"
  - option: PubkeyAuthentication
    value: "yes"
  - option: UseDNS
    value: "no"
  - option: UsePAM
    value: "yes"

# pam_2fa: Define the .deb package path or url
# duomfa_pam2fa_deb_package: ""

# pam_2fa: lineinfile to enable pam_2fa in /etc/pam.d/common-auth
# Define the success=x according to your needs.
# duomfa_pam2fa_pam_common_auth:
#   - line: "auth    [success=2 ignore=ignore default=die]    pam_ssh_user_auth.so debug"
#     regexp: "^.*pam_ssh_user_auth.*"
#     insertafter: "# here are the per-package modules.*$"
