---
- name: Make sure apt_repositories_default_keyrings is present
  ansible.builtin.file:
    path: "{{ apt_repositories_default_keyrings }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Download apt keys
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest | default(apt_repositories_default_keyrings) }}"
    mode: '0644'
  loop: "{{ apt_repositories_key_urls }}"

- name: "Set apt repositories, One-Line-Style Format"
  ansible.builtin.apt_repository:
    codename: "{{ item.codename | default(omit) }}"
    filename: "{{ item.filename | default(apt_repositories_default_filename) }}"
    install_python_apt: "{{ item.install_python_apt | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    repo: "{{ item.repo }}"
    state: "{{ item.state | default('present') }}"
    update_cache_retries: "{{ item.update_cache_retries | default(omit) }}"
    update_cache_retry_max_delay: "{{ item.update_cache_retry_max_delay | default(omit) }}"
    update_cache: "{{ item.update_cache | default(omit) }}"
    validate_certs: "{{ item.validate_certs | default(omit) }}"
  loop: "{{ apt_repositories_one }}"

- name: "Set apt repositories, Deb822-style Format"
  ansible.builtin.deb822_repository:
    allow_downgrade_to_insecure: "{{ item.allow_downgrade_to_insecure | default(omit) }}"
    allow_insecure: "{{ item.allow_insecure | default(omit) }}"
    allow_weak: "{{ item.allow_weak | default(omit) }}"
    architectures: "{{ item.architectures | default(omit) }}"
    by_hash: "{{ item.by_hash | default(omit) }}"
    check_date: "{{ item.check_date | default(omit) }}"
    check_valid_until: "{{ item.check_valid_until | default(omit) }}"
    components: "{{ item.components | default(omit) }}"
    date_max_future: "{{ item.date_max_future | default(omit) }}"
    enabled: "{{ item.enabled | default(omit) }}"
    inrelease_path: "{{ item.inrelease_path | default(omit) }}"
    languages: "{{ item.languages | default(omit) }}"
    mode: "{{ item.mode | default('0644') }}"
    name: "{{ item.name }}"
    pdiffs: "{{ item.pdiffs | default(omit) }}"
    signed_by: "{{ item.signed_by | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    suites: "{{ item.suites | default(omit) }}"
    targets: "{{ item.targets | default(omit) }}"
    trusted: "{{ item.trusted | default(omit) }}"
    types: "{{ item.types | default(['deb']) }}"
    uris: "{{ item.uris | default(omit) }}"
  loop: "{{ apt_repositories_822 }}"
