---

cronjob_package: "{{ 'cronie' if ansible_os_family == 'RedHat' else 'cron' }}"

# Content for /etc/cron.allow
# cronjob_allow_list: |
#   george
#   john

# Content for /etc/cron.deny
# cronjob_deny_list: |
#   paul
#   ringo

# cronjob_entries:
#   - user: root
#     name: "rsync-backup"
#     job: "rsync -a /home server.example.com:/opt/backups/"
#     hour: "4"
#     minute: "37"
#     state: present
#
#   - user: root
#     name: "pkill node"
#     job: "/usr/bin/pkill -x node"
#     minute: "*/5"
#     state: present
#     error_notification: false  # Disable error notification for this job as the job will fail most of the time.
#
#  - user: root
#    name: "remove /etc/nologin"
#    job: "/usr/bin/rm -f /etc/nologin"
#    special_time: reboot
#    state: present
#    error_notification: false

# cron environment variables
#  - { user: root, env: yes, name: "http_proxy", job: 'http://192.168.1.10:3128' }
#  - { user: root, env: yes, name: "https_proxy", job: 'http://192.168.1.10:3128' }
#  - { user: root, env: yes, name: "TMPDIR", job: '/opt/tmp' }

# Error reporting using logger
# cronjob_error_notification: "|| logger Error while running cronjob"
